name: Build executables

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            artifact: win-unlock
            exe: win-unlock.exe

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@v7

      - name: Set up Python
        run: uv sync

      - name: Build executable
        run: uv run --group build pyinstaller win-unlock.spec

      - name: Upload artifact
        uses: actions/upload-artifact@v6
        with:
          name: ${{ matrix.artifact }}
          path: dist/${{ matrix.exe }}

  release:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'

    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/download-artifact@v8
        with:
          path: artifacts

      - name: Prepare release files
        run: |
          mkdir release-artifacts
          mv artifacts/win-unlock.exe release-artifacts/win-unlock.exe

      - uses: release-drafter/release-drafter@v6
        id: drafter
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload release assets
        run: |
          gh release upload "${{ steps.drafter.outputs.tag_name }}" \
            release-artifacts/win-unlock.exe \
            --clobber \
            -R ${{ github.repository }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
